<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Live Notes</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div id="app">
      <div id="password" v-if="locked && !fullscreen">
        <p>A password is required to edit these notes</p>
        <input type="password" v-model="password" @keydown.enter="authenticate" />
        <p class="error" v-if="error">{{ error }}</p>
        <button @click="authenticate">
          Unlock
        </button>
        <a href="?display">or view in display mode</a>
      </div>

      <div class="container" v-if="!fullscreen">
        <input type="text" id="noteinput" v-model="input" @keyup.enter.exact="addNote" />
      </div>
      <div class="rectangle" v-if="!fullscreen"></div>
      <div
        v-if="fullscreen"
        class="black-background"
        :class="{ 'send-back': fullscreen }"
      >
      </div>

      <div class="note-holder" :class="{ 'fullscreen-padding': fullscreen }">
        <transition-group name="notes-transition" tag="div">
          <div class="note notes-transition-item" v-for="note, i in notes" :key="note.key">
            <div class="controls" v-if="!fullscreen">
              <a class="remove icon" @click="remove(i)"></a>
              <a class="edit icon" @click="edit(i)"></a>
            </div>
            <div class="text" v-text="note.text"></div>
          </div>
        </transition-group>
      </div>
    </div>

    <script src="vue.min.js"></script>
    <script src="socket.io.min.js"></script>
    <script>
      const socket = new io();
      const noteinput = document.getElementById('noteinput');
      const query = String(location.search)

      const app = new Vue({
        el: '#app',
        data: {
          input: '',
          notes: [],
          editting: null,
          password: null,
          fullscreen: /^\?display(=(1|true|yes))?/gi.test(query),
          locked: false,
          error: null
        },
        methods: {
          addNote () {
            if (this.editting === null) {
              this.notes.push({ text: this.input, key: Math.random() });
            } else {
              this.notes[this.editting].text = this.input;
              this.editting = null;
            }
            this.sendNotes();

            // Clear text field
            this.input = '';
          },
          edit (i) {
            this.input = this.notes[i].text;
            this.editting = i;
            noteinput.focus();
            this.sendNotes();
          },
          remove (i) {
            this.notes.splice(i, 1);
            this.sendNotes();
          },
          sendNotes () {
            // Sync notes with other connected instances
            socket.send({ notes: this.notes });
          },
          authenticate () {
            this.error = null
            socket.emit('authenticate', { password: this.password })
          }
        },
        mounted () {
          let app = this;

          socket.on('message', function (data) {
            // Check if we need to prompt for a password
            if (data.hasOwnProperty('secured') && !app.fullscreen) {
              app.locked = data.secured

              // Automatically try to authenticate with previous password
              // (or with no password, if the socket isn't secured)
              if (!app.locked || app.password) {
                app.authenticate()
              }
            }

            // Check if authentication has been successful
            if (data.hasOwnProperty('auth')) {
              app.locked = !data.auth
            }

            // Display error in console
            if (data.hasOwnProperty('error')) {
              app.error = data.error
            }

            // Update notes
            if (data.hasOwnProperty('notes')) {
              app.notes = data.notes;
            }

            // Fall back to display-only mode (in case of incorrect password)
            if (data.hasOwnProperty('display')) {
              console.log('Falling back to display mode')
              app.fullscreen = data.display
            }
          });
        }
      });
    </script>
  </body>
</html>
